* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bangers';
    font-weight: 400;
    font-size: 24px;
}

.game {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto 0 auto;
}

.game.inactive {
    display: none;
}

header {
    flex-basis: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 32px;
    /* font-weight: bold; */
}


main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

main div {
    flex-basis: calc(100%/6);
    max-height: 133px;
    border: 1px solid white;
}

div.hidden {
    background-color: #333;
    cursor: pointer;
}

div.countdown {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300px;
    color: #ffa500;
    opacity: 0.8;
}

div.countdown.start {
    font-size: 150px;
}

footer {
    flex-basis: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
}

footer a {
    color: #000;
    text-decoration: none;
}

footer a:hover {
    color: #09c690;
    cursor: pointer;
}

.startView {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: #ffa500;
    width: 100%;
    height: 100vh;
    transform: scale(100%);
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.startView.inactive {
    transform: scale(0);
}

.startView h1,
.endView h1 {
    font-size: 100px;
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 5px 5px #ff4500;
}

.cardsAmmount {
    display: block;
    width: 200px;
    margin: 30px auto;
}

.cardsAmmount p {
    color: #fff;
    font-size: 28px;
    padding: 10px 0;
    text-align: center;
}

.slidecontainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 80%;
    /* Full-width */
    height: 10px;
    /* Specified height */
    border-radius: 2px;
    /* Radius */
    background: #fff;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.6;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 0.8;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #ff4500;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
    border-radius: 5px;
    /* Radius */
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #ff4500;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
    border-radius: 5px;
    /* Radius */
}

.sliderValue {
    color: #fff;
    font-size: 32px;
}

.startView button,
.endView button {
    display: block;
    width: 200px;
    height: 50px;
    flex-basis: 50px;
    margin: 30px auto;
    background-color: #fff;
    border-style: none;
    border-radius: 10px;
    box-shadow: 0 0 0 5px #ffa500, 0 0 0 10px #fff;
    color: #ffa500;
    font-family: 'Bangers';
    font-size: 32px;
    cursor: pointer;
}

.startView button:hover,
.endView button:hover {
    box-shadow: 0 0 0 7px #ffa500, 0 0 0 12px #fff;
    color: #ff4500;
}

.endView {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #ffa500;
    width: 100%;
    height: 100vh;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.endView.inactive {
    top: -100%;
    left: 0;
}

.result {
    margin-top: 50px;
}

.result p {
    color: #fff;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}

.endView button {
    margin-top: 50px;
}

/* Klasy dla poszczególnych kart */

.indianRed {
    background-color: #cd5c5c;
}

.crimson {
    background-color: #dc143c;
}

.hotPink {
    background-color: #ff69b4;
}

.deepPink {
    background-color: #ff1493;
}

.coral {
    background-color: #ff7f50;
}

.orangeRed {
    background-color: #ff4500;
}

.orange {
    background-color: #ffa500;
}

.khaki {
    background-color: #f0e68c;
}

.darkKhaki {
    background-color: #bdb76b;
}

.indigo {
    background-color: #4b0082;
}

.darkOrhid {
    background-color: #9932cc;
}

.greenYellow {
    background-color: #adff2f;
}

.forestGreen {
    background-color: #228b22;
}

.darkOliveGreen {
    background-color: #556b2f;
}

.cadetBlue {
    background-color: #5f9ea0;
}

.deepSkyBlue {
    background-color: #00bfff;
}

.chocolate {
    background-color: #d2691e;
}

.brown {
    background-color: #a52a2a;
}

@media (max-width: 576px) {
    body {
        font-size: 16px;
    }

    header {
        font-size: 20px;
    }

    div.countdown {
        font-size: 150px;
    }

    div.countdown.start {
        font-size: 100px;
    }

    footer {
        font-size: 16px;
    }

    .startView h1,
    .endView h1 {
        font-size: 60px;
    }

    .result p {
        font-size: 32px;
    }
}